<div class="row">
    <div class="card-block col-md-8 col-sm-10 col-xs-12">
        <h3>Responsáveis</h3>
        <div class="table-responsive">
            <div class="form-group">
                <button class="btn btn-primary" ng-click="new()" ><span class="glyphicon glyphicon-plus"></span>Adicionar</button>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nome Mãe</th>
                    <th>Nome Pai</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Município</th>
                    <th>Estado</th>
                    <th>Remover</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="responsavel in responsaveis">
                    <td>{{ responsavel.responsavelMae.name }}</td>
                    <td>{{ responsavel.responsavelPai.name }}</td>
                    <td>{{ '(' + responsavel.responsavelMae.phoneDdd + ') ' + responsavel.responsavelMae.phoneNumber }}</td>
                    <td>{{ responsavel.responsavelMae.address }}</td>
                    <td>{{ responsavel.responsavelMae.city }}</td>
                    <td>{{ responsavel.responsavelMae.uf }}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Remover"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="delete(responsavel)" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>