* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
}
.login {
    margin: 20px auto;
    width: 300px;
}
.login-screen {
    background-color: #2ea14e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.login-screen h1{
    color: white;
}

.login-screen input {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

input:focus {
    border: 2px solid #5b290f;
    box-shadow: none;
}

.btn-login {
    border: 2px solid transparent;
    background: #f06e25;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn-login:hover {
    background-color: #a54b1b;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.drop-info-user {
    min-width: 260px;
    padding: 10px 10px 0 10px;
}
.navbar.navbar-default.navbar-fixed-top {
    background-color: #2ea14e;
    border-color: #237b3c;
}
.nav.navbar-nav li a {
    color: #FFFFFF;
}
.navbar-default.navbar-brand {
    color: #FFFFFF;
}
.navbar-default.navbar-toggle.icon-bar {
    color: #FFFFFF;
}

.body-background {
    background: url(/images/background-kids.svg) no-repeat center bottom fixed;
    background-size: cover;
}

.card-block {
    float: none;
    position: relative;
    margin: 15px auto;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    border-radius: 5px;
    background-color: rgba(54, 191, 92, 0.9);
    box-shadow: 6px 6px 10px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block h3 {
    margin-top: 15px;
}

.content {
    padding: 50px 50px 0 50px;
}

.label-form {
    width: 100%;
}